@font-face {
    font-family: "SVN-Bango";
    src: url("/fonts/SVN-Bango.otf");
}

.root {
    -fx-font-family: "SVN-Bango";
    -fx-background-image: url("/assets/home-bg.png");
    -fx-background-size: cover; /* This makes the image cover the entire area */
    -fx-background-position: center; /* Centers the image */
    -fx-background-repeat: no-repeat; /* Prevents the image from repeating */
}

.button {
    -fx-background-color: #E29A36;
    -fx-text-fill: white;
    -fx-padding: 8 15;
    -fx-background-radius: 25;
    -fx-font-size: 18px;
    -fx-transition: background-color 0.5s ease;
}

.button:hover {
    -fx-background-color: #C77A2B;
}

#rightColumn {
    -fx-background-color: #453221;
    -fx-background-radius: 25;
    -fx-padding: 16;
    -fx-border-radius: 25;
    -fx-border-color: #634831;
    -fx-text-fill: #fff;
}